/* burger */

.burger {
    display: none;
    position: relative;
    z-index: 2;

    @include tablet {
        display: block;
    }

    @include mobile {
        height: 37px;
    }

    &.burger--active {

    }
}

/* burger */
