@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 16px;
  margin-block: 0;
}
p:last-of-type {
  margin: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
  Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
  Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(1440px + 40px);
  margin-inline: auto;
  padding-inline: 20px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: clamp(16px, 1.6666666667vw, 24px);
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  line-height: 1.35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #172E58;
  background: #FFFFFF;
}

main {
  overflow: hidden;
}

blockquote {
  margin: 0 0 16px 0;
  padding: 16px 40px;
  background: rgba(85, 112, 255, 0.05);
  border-left: 4px solid rgb(85, 112, 255);
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: clamp(32px, 6.25vw, 90px);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  position: relative;
  font-size: clamp(42px, 4.8611111111vw, 70px);
  line-height: 1.3;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.25rem, 0.817rem + 1.92vw, 2.5rem);
}

h3 {
  font-size: clamp(20px, 2.2222222222vw, 32px);
}

h4 {
  font-size: clamp(16px, 1.6666666667vw, 24px);
}

.subtitle {
  display: block;
  max-width: 600px;
  font-size: clamp(14px, 1.25vw, 18px);
  font-weight: 500;
  letter-spacing: -0.02em;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__text {
  font-size: clamp(16px, 1.6666666667vw, 24px);
}
.section__text:where(:not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

@-webkit-keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}
@-webkit-keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  padding: 10px clamp(2.188rem, -3.77rem + 9.31vw, 4.375rem);
  font-size: clamp(14px, 1.3888888889vw, 20px);
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  background: #FF364C;
  border: 2px solid #FF364C;
}
@media (hover: hover) {
  .button:hover {
    background: #172E58;
    border: 2px solid #FF364C;
  }
}
@media (hover: none) {
  .button:active {
    background: #172E58;
    border: 2px solid #FF364C;
  }
}
@media (max-width: 1023px) {
  .button {
    height: 55px;
  }
}
.button--alt {
  font-size: clamp(14px, 1.6666666667vw, 24px);
  font-weight: 700;
  background: #172E58;
}
@media (hover: hover) {
  .button--alt:hover {
    background: #FF364C;
  }
}
@media (hover: none) {
  .button--alt:active {
    background: #FF364C;
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 2;
}
@media (max-width: 1023px) {
  .burger {
    display: block;
  }
}
@media (max-width: 767px) {
  .burger {
    height: 37px;
  }
}
.form {
  /* Стилизованный radio button */
  /* При отмеченном radio button изменить цвет и показать "галочку" */
  /* Стилизованный чекбокс */
  /* При отмеченном чекбоксе изменить цвет и показать "галочку" */
}
.form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  font-size: clamp(1rem, 0.186rem + 1.69vw, 1.5rem);
  font-weight: 700;
}
.form input,
.form select {
  margin: 0;
  font-size: clamp(16px, 1.3888888889vw, 20px);
  font-weight: 500;
  outline: none;
  width: 100%;
  height: 64px;
  padding: 16px 24px;
  color: var(--color-dark);
  border-radius: 40px;
  border: 1px solid rgba(58, 95, 111, 0.16);
}
.form input::-webkit-input-placeholder, .form select::-webkit-input-placeholder {
  color: #3A5F6F;
}
.form input::-moz-placeholder, .form select::-moz-placeholder {
  color: #3A5F6F;
}
.form input:-ms-input-placeholder, .form select:-ms-input-placeholder {
  color: #3A5F6F;
}
.form input::-ms-input-placeholder, .form select::-ms-input-placeholder {
  color: #3A5F6F;
}
.form input::placeholder,
.form select::placeholder {
  color: #3A5F6F;
}
@media (max-width: 767px) {
  .form input,
  .form select {
    height: 56px;
  }
}
.form input:focus-visible,
.form select:focus-visible {
  border: 1px solid var(--color-cyan);
}
.form textarea {
  margin: 0;
  font-size: clamp(16px, 1.3888888889vw, 20px);
  font-weight: 500;
  outline: none;
  width: 100%;
  min-height: 120px;
  padding: 16px 24px;
  color: var(--color-dark);
  border-radius: 24px;
  border: 1px solid rgba(58, 95, 111, 0.16);
  resize: none;
}
.form textarea:focus-visible {
  border: 1px solid var(--color-cyan);
}
.form .custom-radio {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
  /* Скрыть стандартный radio button */
  /* Стиль для видимого элемента radio button */
}
.form .custom-radio input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form .custom-radio .radiomark {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #F9FAFB;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: 1px solid rgb(175, 186, 202);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* Отображение "галочки" внутри radio button */
}
.form .custom-radio .radiomark::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url(/assets/images/icon/check.svg) no-repeat center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form .custom-radio input[type=radio]:checked + .radiomark {
  background-color: var(--color-cyan);
  border: 1px solid var(--color-cyan);
}
.form .custom-radio input[type=radio]:checked + .radiomark::after {
  opacity: 1;
}
.form .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  /* Скрыть стандартный чекбокс */
  /* Стиль для видимого элемента чекбокса */
}
.form .custom-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form .custom-checkbox .checkmark {
  display: inline-block;
  width: 48px;
  height: 28px;
  background-color: var(--color-dark);
  border-radius: 14px;
  position: relative;
  cursor: pointer;
  /* Отображение "галочки" внутри чекбокса */
}
.form .custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: block;
  left: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-light);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form .custom-checkbox input[type=checkbox]:checked + .checkmark {
  background-color: var(--color-accent);
}
.form .custom-checkbox input[type=checkbox]:checked + .checkmark::after {
  left: auto;
  right: 2px;
}

.select2 {
  width: 100% !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-cyan);
}

.select2-container--default .select2-selection--single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: clamp(16px, 1.3888888889vw, 20px);
  font-weight: 500;
  outline: none;
  width: 100%;
  height: 64px;
  padding: 16px 24px;
  color: var(--color-dark);
  border-radius: 40px;
  border: 1px solid rgba(58, 95, 111, 0.16);
}
@media (max-width: 767px) {
  .select2-container--default .select2-selection--single {
    height: 56px;
  }
}
.select2-container--default .select2-selection--single:focus-visible {
  border: 1px solid var(--color-cyan);
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
  margin: 0;
  color: var(--color-dark);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 16px;
  height: 16px;
  top: 50%;
  right: 24px;
  translate: 0 -50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: static;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: url(../images/icon/ArrowDown2.svg) no-repeat center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  rotate: 180deg;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-color: var(--color-cyan);
}

.swiper-pagination {
  position: static;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.swiper-pagination-bullet-active {
  margin: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  aspect-ratio: 1;
  margin: 0 !important;
  border-radius: 5px;
}
.swiper-pagination-bullet-active {
  width: 24px;
  background-color: var(--color-dark);
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin: 0;
  width: 48px;
  height: 48px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/icon/nav.svg) no-repeat center;
}

.swiper-button-prev::after {
  rotate: 180deg;
}

.swiper__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.swiper__navigation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  z-index: 1;
}
@media (max-width: 1023px) {
  .header {
    top: 50px;
  }
}
.header::before {
  content: "";
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: block;
  width: 100%;
  height: 67px;
  background: #FFFFFF;
  z-index: -1;
}
@media (max-width: 1023px) {
  .header::before {
    display: none;
  }
}
.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 10px 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(2.5rem, 1.202rem + 5.77vw, 6.25rem);
}
@media (max-width: 1023px) {
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(3.75rem, -14.463rem + 28.46vw, 10.438rem);
}
.header .button {
  margin-left: auto;
}

.actions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.actions__lang {
  font-size: 20px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (hover: hover) {
  .actions__lang a:hover {
    color: #FF364C;
  }
}
@media (hover: none) {
  .actions__lang a:active {
    color: #FF364C;
  }
}

.logo {
  font-size: clamp(20px, 2.2222222222vw, 32px);
  font-weight: 900;
  line-height: 1.3;
}
@media (max-width: 1023px) {
  .logo {
    display: none;
  }
}
@media (hover: hover) {
  .logo:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .logo:active {
    scale: 1.1;
  }
}
.logo__image {
  max-width: 110px;
  width: 100%;
}
@media (max-width: 767px) {
  .logo__image {
    max-width: 70px;
  }
}

@media (max-width: 1023px) {
  .navigation {
    display: none;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.25rem, 0.298rem + 4.23vw, 4rem);
}
.navigation__list li {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .navigation__list li {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.06em;
  }
}
@media (hover: hover) {
  .navigation__list li:hover {
    color: #FF364C;
  }
}
@media (hover: none) {
  .navigation__list li:active {
    color: #FF364C;
  }
}
.navigation--mobile {
  display: none;
  padding: 40px 24px;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #FFFFFF;
}
.navigation--mobile.navigation--active {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.hero__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(../images/banner/banner.png) no-repeat center;
  background-size: cover;
  border-radius: 0 0 20px 20px;
  height: 100vh;
  min-height: 860px;
  padding-block: 200px 100px;
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .hero__inner {
    background-position: -10px;
    padding-block: 140px 30px;
  }
}
@media (max-width: 560px) {
  .hero__inner {
    min-height: 500px;
  }
}
.hero__inner h1 {
  max-width: 1000px;
}
.hero__inner p {
  margin-top: auto;
}
.hero .button {
  position: absolute;
  right: 80px;
  bottom: 40px;
  max-width: 310px;
  height: auto;
  padding-inline: 10px;
}
@media (max-width: 1023px) {
  .hero .button {
    max-width: 210px;
    bottom: 100px;
    right: 40px;
  }
}

.about {
  padding: 95px 0;
}
@media (max-width: 767px) {
  .about {
    padding: 60px 0;
  }
}
.about .wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: clamp(2.813rem, 1.19rem + 7.21vw, 7.5rem);
}
@media (max-width: 1023px) {
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about h2 {
  max-width: 320px;
}
@media (max-width: 1023px) {
  .about h2 {
    max-width: 200px;
  }
}
.about p {
  max-width: 730px;
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.production__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-block: 35px;
  min-height: 580px;
  color: #FFFFFF;
  background: url(../images/banner/banner2.png) no-repeat center;
  background-size: cover;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .production__inner {
    background-position: left;
    border-radius: 0;
  }
}
.production h2 {
  max-width: 760px;
}
.production .button {
  position: absolute;
  right: 25px;
  bottom: 35px;
}
@media (max-width: 767px) {
  .production .button {
    position: initial;
    margin-left: auto;
  }
}

.statistics {
  padding: clamp(2.5rem, 0.337rem + 9.62vw, 8.75rem) 0;
}
.statistics__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 560px) {
  .statistics__inner {
    gap: 40px 80px;
  }
}
.statistics span {
  font-size: clamp(42px, 10.4166666667vw, 150px);
  font-weight: 600;
  line-height: 1;
}
.statistics p {
  font-weight: 600;
}

.services {
  padding: clamp(1.875rem, 0.577rem + 5.77vw, 5.625rem) 0;
}
.services__inner h2 {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .services__inner h2 {
    margin-bottom: 30px;
  }
}
.services__inner .subtitle {
  max-width: 800px;
}
.services__list {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
.services__list h3 {
  margin-top: 10px;
}
.services__info {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__info a {
  margin-top: 90px;
  margin-left: auto;
}
@media (hover: hover) {
  .services__info a:hover {
    color: #FF364C;
  }
}
@media (hover: none) {
  .services__info a:active {
    color: #FF364C;
  }
}

.partners {
  padding: clamp(3.75rem, 2.452rem + 5.77vw, 7.5rem) 0;
  color: #FFFFFF;
  background: #172E58;
  border-radius: 20px;
}

.footer {
  margin-top: auto;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */